* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}